body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
p{
    margin:20;
}
h1{
    text-align:center;
    color:#000080;
    margin:0;
    font-size:40;
}
h2{
    text-align:center;
    color:#000080;
    margin:0;
    font-size:25;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d3ebff;
    
}

li {
    float: left;
    width:150px;
    color:#585656;  
}
li:hover{
   background-color:#e0f2ff;
       color:black;
}
a{
    color:inherit;
}
li a, .hangcue {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.hanging-content a:hover {
    color:black;
    background-color:#e2e2ff;
}

li.hanging {
    display: inline-block;
    
}

.hanging-content {
    display: none;
    position: absolute;
    background-color: #d9d9ff;
    min-width: 80px;
    z-index: 1;
}

.hanging-content a {
    color: #585656;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.hanging:hover .hanging-content {
    display: block;
}