<!–– sg3790 Sadi Gulcelik python final––>
    <!DOCTYPE html>
    <html>

    <head>
        <title>Sadi Gulcelik Home Page</title>
        <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
        <script language="javascript" type="text/javascript" src="{{url_for('static',filename='scripts/calculator.js')}}"></script>
    </head>

    <body>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li class="hanging">
                <a href="javascript:void(0)" class="hangcue">Tools</a>
                <div class="hanging-content">
                    <a href="{{url_for('calculator')}}">Calculator</a>
                    <a href="{{url_for('grapher')}}">Grapher</a>
                </div>
            </li>
        </ul>
        <div class="main">
            <br>
            <h2>Name: Sadi Gulcelik</h2>
            <br>
            <div class="center">
                <img src="/static/images/sadiphoto.jpeg" width=500>
            </div>
            <br>
            <h2>Grade: freshman</h2>
            <br>
            <h2>Intended major: applied physics</h2>
        </div>
    </body>

    </html>
