<!DOCTYPE html>
<html>

<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="style.css">
    <script language="javascript" type="text/javascript" src="calculator.js"></script>
</head>

<body>
    <ul>
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li class="hanging">
            <a href="javascript:void(0)" class="hangcue">Pages</a>
            <div class="hanging-content">
                <a href="{{url_for('page1')}}">Page 1</a>
                <a href="{{url_for('page2')}}">Page 2</a>
            </div>
        </li>
    </ul>


    <div id="main">
        <h2>Expression Evaluator</h2>
        <h3> Insert an expression to be computed:</h3>
        <br>
        <div id="center">
            <input onkeydown="compute()" onkeyup="compute()" id="equationInput" placeholder="insert expression" class="text">
        </div>
        <br>
        <h3> Result:</h3>
        <div id="center">
            <p id="equationOutput" class="text"></p>
        </div>
        <p>This might have been easier to implement with a library</p>
    </div>

</body>

</html>
